{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_escapecell/noplay

    This template renders the list of students who have not achieved a level.

    Example context (json):
    {
        "lastname": "Nom",
        "firstname": "Prénom",
        "std": [ {"name" : "toto", "firstname": "yol"},
                 {"name" : "titi", "firstname": "yolo"} ],
        "urlret": "https://srv/blocks/escapecell/viewscore.php?courseid=19"
    }
}}
<div class="container noplay">
    <div width="50%">
    <table>
        <tr>
            <th style="text-align:center">{{lastname}}</th>
            <th style="text-align:center">{{firstname}}</th>
        </tr>
        {{#std}}
            <tr align='center'>
                <td>{{name}}</td>
                <td>{{firstname}}</td>
            </tr>
        {{/std}}
    </table>
    </div>
    <br/><center>
    <button type="button" class="btn btn-secondary"><a href="{{urlret}}" style="text-decoration:none;">Retour</a></button>
    </center>
</div>
