<div class="container noplay">
    <div width="50%">
    <table>
        <tr>
            <th style="text-align:center">{{lastname}}</th>
            <th style="text-align:center">{{firstname}}</th>
        </tr>
        {{#std}}
            <tr align='center'>
                <td>{{name}}</td>
                <td>{{firstname}}</td>
            </tr>
        {{/std}}
    </table>
    </div>
    <br/><center>
    <button type="button" class="btn btn-secondary"><a href="{{urlret}}" style="text-decoration:none;">Retour</a></button>
    </center>
</div>